python.exe : INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
At line:2 char:1
+ & .\.venv\Scripts\python.exe -m alembic upgrade head --sql *> ..\work ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

INFO  [alembic.runtime.migration] Running upgrade  -> 0001_initial_schema, initial schema
-- Running upgrade  -> 0001_initial_schema

CREATE TABLE cases (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    status VARCHAR(64) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    processed_at TIMESTAMP WITH TIME ZONE, 
    source_path TEXT, 
    metadata_json JSONB NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_cases_status CHECK (status IN ('created', 'processing', 'completed', 'completed_with_warnings', 'failed'))
);

CREATE INDEX ix_cases_status ON cases (status);

CREATE TABLE devices (
    id UUID NOT NULL, 
    case_id UUID NOT NULL, 
    device_name VARCHAR(255), 
    device_type VARCHAR(64) NOT NULL, 
    ios_version VARCHAR(64), 
    product_type VARCHAR(128), 
    serial_number VARCHAR(128), 
    udid VARCHAR(128), 
    backup_identifier VARCHAR(255), 
    backup_encrypted BOOLEAN, 
    backup_created_at TIMESTAMP WITH TIME ZONE, 
    metadata_json JSONB NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(case_id) REFERENCES cases (id) ON DELETE CASCADE
);

CREATE INDEX ix_devices_case_id ON devices (case_id);

CREATE TABLE evidence_events (
    id UUID NOT NULL, 
    case_id UUID NOT NULL, 
    device_id UUID, 
    external_event_id VARCHAR(255), 
    event_type VARCHAR(255) NOT NULL, 
    category VARCHAR(128), 
    timestamp TIMESTAMP WITH TIME ZONE, 
    timestamp_end TIMESTAMP WITH TIME ZONE, 
    timezone_name VARCHAR(128), 
    summary TEXT, 
    details_json JSONB NOT NULL, 
    raw_values_json JSONB NOT NULL, 
    source_artifact VARCHAR(255), 
    source_database VARCHAR(255), 
    source_table VARCHAR(255), 
    source_record_id VARCHAR(255), 
    source_path TEXT, 
    parser_name VARCHAR(128), 
    parser_version VARCHAR(64), 
    confidence_score INTEGER, 
    confidence_basis_json JSONB NOT NULL, 
    artifact_hash VARCHAR(128), 
    conversation_key VARCHAR(255), 
    contact_key VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(case_id) REFERENCES cases (id) ON DELETE CASCADE, 
    FOREIGN KEY(device_id) REFERENCES devices (id) ON DELETE SET NULL
);

CREATE INDEX ix_evidence_events_case_id ON evidence_events (case_id);

CREATE INDEX ix_evidence_events_device_id ON evidence_events (device_id);

CREATE INDEX ix_evidence_events_timestamp ON evidence_events (timestamp);

CREATE INDEX ix_evidence_events_event_type ON evidence_events (event_type);

CREATE INDEX ix_evidence_events_category ON evidence_events (category);

CREATE INDEX ix_evidence_events_source_artifact ON evidence_events (source_artifact);

CREATE INDEX ix_evidence_events_conversation_key ON evidence_events (conversation_key);

CREATE INDEX ix_evidence_events_contact_key ON evidence_events (contact_key);

CREATE INDEX ix_evidence_events_external_event_id ON evidence_events (external_event_id);

CREATE INDEX ix_evidence_events_artifact_hash ON evidence_events (artifact_hash);

CREATE INDEX ix_evidence_events_case_timestamp ON evidence_events (case_id, timestamp);

CREATE INDEX ix_evidence_events_case_event_type ON evidence_events (case_id, event_type);

CREATE INDEX ix_evidence_events_case_conversation_key ON evidence_events (case_id, conversation_key);

CREATE TABLE artifact_coverage (
    id UUID NOT NULL, 
    case_id UUID NOT NULL, 
    device_id UUID, 
    artifact_name VARCHAR(255) NOT NULL, 
    coverage_status VARCHAR(128) NOT NULL, 
    parser_name VARCHAR(128), 
    source_path TEXT, 
    records_parsed INTEGER NOT NULL, 
    warning_count INTEGER NOT NULL, 
    error_count INTEGER NOT NULL, 
    details_json JSONB NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(case_id) REFERENCES cases (id) ON DELETE CASCADE, 
    FOREIGN KEY(device_id) REFERENCES devices (id) ON DELETE SET NULL
);

CREATE INDEX ix_artifact_coverage_case_id ON artifact_coverage (case_id);

CREATE INDEX ix_artifact_coverage_device_id ON artifact_coverage (device_id);

CREATE INDEX ix_artifact_coverage_coverage_status ON artifact_coverage (coverage_status);

CREATE TABLE processing_jobs (
    id UUID NOT NULL, 
    case_id UUID NOT NULL, 
    status VARCHAR(64) NOT NULL, 
    stage VARCHAR(64), 
    progress_percent INTEGER NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    error_message TEXT, 
    warnings_json JSONB NOT NULL, 
    statistics_json JSONB NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_processing_jobs_status CHECK (status IN ('queued', 'running', 'processing', 'completed', 'failed')), 
    FOREIGN KEY(case_id) REFERENCES cases (id) ON DELETE CASCADE
);

CREATE INDEX ix_processing_jobs_case_id ON processing_jobs (case_id);

INSERT INTO alembic_version (version_num) VALUES ('0001_initial_schema') RETURNING alembic_version.version_num;

COMMIT;

